//
//
//    :::: COMMON ::::
//    
//    All Common colors are here with default theme colors.
//
//

$white: #ffffff;
$black: #000000;
$bodybg: #575757;
$playerbg: #0842c4;
$player_progress_bg: #ff2140;